
.first_parent{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    height: 500px;
    width: 100%;
    color: blue;
    font-size: 18px;
    
  }
  .parent_inside{
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color: #EFF1F1 ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2%;
  }

  .first{
    height: 250px;
    width: 100%;
    background-color: none;
  }
  
  
  
  
  
  @media screen and (max-width:800px){
    .first_parent{
        display:flex;
        gap: 10px;
        flex-wrap: wrap;
        height: fit-content;
        margin-bottom: 20px;
        font-size: 16px;
      }
     
    
      .first{
        height: 200px;
        
      }
      
  }
  
  
  @media screen and (max-width:500px){
    .first_parent{ 
        gap: 10px;
        margin-bottom: 20px;
        font-size: 12px;
      }
      .parent_inside{
        gap: 5px;
      }
    
      .first{
        height: 150px;
      }
      
  }